@model IEnumerable<NosTRAILgic.Models.Statistic>
@{
    ViewBag.Title = "Stats";
}
<h2>Statistical Page</h2>

Number of Participants per Trail:
<div id="chart"></div>
Number of Check In per Category:
<div id="pie"></div>
<div class="pull-left">
    @Html.Label("Location Search per")
    @Html.DropDownList("statsBySearchLocationddl", null, new { onchange = "document.location.href='/Stats/Index?val='+this.value;" })
</div>

<br />
<br />

@if (ViewBag.statsBySearchLocationddlDate == "0")
{
    <div id="chart_year"></div>
    <div id="chart_month" hidden></div>
}
else if (ViewBag.statsBySearchLocationddlDate == "1")
{
    <div id="chart_year" hidden></div>
    <div id="chart_month"></div>
}

@Html.Partial("_Script")