@model NosTRAILgic.Models.Location

@{
    ViewBag.Title = "Create";
}

<h2>Upload KML to database</h2>

@using (Html.BeginForm("Create", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                *Some message*
            </div>
        </div>
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2">
               <b>Museum</b> 
            </div>
            <div class="col-md-10">
                <input type="file" name="MuseumFile" id="MuseumFile"/>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Monument</b>
            </div>
            <div class="col-md-10">
                <input type="file" name="MonumentFile" id="MonumentFile" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Historical Site</b>
            </div>
            <div class="col-md-10">
                <input type="file" name="HistoricSiteFile" id="HistoricSiteFile" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}