
@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>

<p>

</p>

<p>
    <img src="@Url.Action("CreateBar")" alt="Bar Chart using MVC" />
</p>

<p>
    <img src="@Url.Action("CreatePie")" alt="Pie Chart using MVC" />
</p>

<p>
    <img src="@Url.Action("CreateLine")" alt="Line Chart using MVC" />
</p>