@{
    ViewBag.Title = "Home Page";
}


<div class="container" style="width: 100%">
    <div class="vertical-center-row">
        <div align="center">
            <p>
                <input id="Text1" type="text" placeholder="Search" />

                <select id="Select1">
                    <option>All</option>
                    <option>Museum</option>
                    <option>Historical Sites</option>
                    <option>Monuments</option>
                </select>
            </p>

            <p>
                <input id="Button1" type="button" value="Search" disabled />
            </p>
        </div>
    </div>
</div>



